<nz-space [nzSize]="8" class="mb-20">
  <img src="../../assets/images/auditIcon.svg" alt="" *nzSpaceItem />
  <h3 *nzSpaceItem>Audit Log</h3>
</nz-space>
<div class="audit-timeline">
  <div>
    <h4>Paper Created</h4>
    <p>24/10/2022, 10:15 PM</p>

    <h6>
      <img src="../../../assets/images/aadharIcon.svg" alt="" /> Aadhar used for
      E-sign approval.
    </h6>
  </div>
  <div>
    <h4>Waiting for approval</h4>
    <p>30/10/2022, 10:15 PM</p>
    <h6>
      <img src="../../../assets/images/aadharIcon.svg" alt="" /> Aadhar used for
      E-sign approval.
    </h6>
  </div>
  <div>
    <h4>Revised</h4>
    <p>05/11/2022, 10:15 PM</p>
  </div>
  <div>
    <h4>Approved</h4>
    <p>08/11/2022, 10:15 PM</p>
  </div>
</div>
