<div class="d-flex align-items-center">
  <h3 class="mb-0">1) Summary</h3>
</div>

<section class="ml-20 mt-20">
  <div nz-row>
    <div nz-col>
      <div class="grid-title">
        <h4>Assessment Name</h4>
        <span>:</span>
        <b> JEE MAINs </b>
      </div>
      <div class="grid-title">
        <h4>Number Of Question</h4>
        <span>:</span>
        <b> 30 </b>
      </div>
      <div class="grid-title">
        <h4>Assessment Type</h4>
        <span>:</span>
        <b> MCQ </b>
      </div>
      <div class="grid-title">
        <h4>Language</h4>
        <span>:</span>
        <ul class="language-list">
          <li>
            <img
              src="../../../../../assets/images/language-icon/hindi.svg"
              alt=""
            />
            Hindi
          </li>
          <li>
            <img
              src="../../../../../assets/images/language-icon/english.svg"
              alt=""
            />
            English
          </li>
          <li>
            <img
              src="../../../../../assets/images/language-icon/bengali.svg"
              alt=""
            />
            Bengali
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<div class="d-flex align-items-center mt-40">
  <h3 class="mb-0">2) General Instructions</h3>
</div>

<section class="ml-20 mt-20">
  <div nz-row>
    <div nz-col>
      <div class="grid-title">
        <h4>Display Name</h4>
        <span>:</span>
        <b> Lorem Ipsum </b>
      </div>
      <ol type="1" class="mt-20">
        <li>
          Lorem ipsum dolor sit amet consectetur. Rhoncus hendrerit nisl enim
          risus sed at. Aliquam nulla diam sapien platea est facilisis tortor.
          Amet tellus adipiscing erat blandit elit aliquam diam.
        </li>
        <li>
          Egestas ullamcorper non id adipiscing augue nec aliquet montes. Mi
          placerat ullamcorper donec justo odio. Scelerisque tempus nunc
          fermentum varius ullamcorper. Blandit vel semper hendrerit mattis
          enim. Viverra fermentum nulla lobortis vitae faucibus facilisis.
        </li>
        <li>
          Mi tortor sit eget donec vestibulum mattis porttitor. Enim vestibulum
          ut porta hendrerit. Ac leo consectetur vehicula tincidunt etiam.
          Pretium interdum etiam nascetur arcu et.
        </li>
        <li>
          Suscipit at cras interdum dui velit integer non. Justo pretium neque
          sit eu aliquet pellentesque. Orci in est amet morbi bibendum in urna
          diam tempor. Eget nulla elit hendrerit volutpat aenean et viverra
          ligula purus. Aliquet vitae a tellus purus molestie eu.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur. Rhoncus hendrerit nisl enim
          risus sed at. Aliquam nulla diam sapien platea est facilisis tortor.
          Amet tellus adipiscing erat blandit elit aliquam diam.
        </li>
        <li>
          Egestas ullamcorper non id adipiscing augue nec aliquet montes. Mi
          placerat ullamcorper donec justo odio. Scelerisque tempus nunc
          fermentum varius ullamcorper. Blandit vel semper hendrerit mattis
          enim. Viverra fermentum nulla lobortis vitae faucibus facilisis.
        </li>
        <li>
          Mi tortor sit eget donec vestibulum mattis porttitor. Enim vestibulum
          ut porta hendrerit. Ac leo consectetur vehicula tincidunt etiam.
          Pretium interdum etiam nascetur arcu et.
        </li>
      </ol>
    </div>
  </div>
</section>

<div class="d-flex align-items-center mt-40">
  <h3 class="mb-0">3) Other Instructions</h3>
</div>

<section class="ml-20 mt-20">
  <div nz-row>
    <div nz-col>
      <div class="grid-title">
        <h4>Display Name</h4>
        <span>:</span>
        <b> Lorem Ipsum </b>
      </div>
      <ol type="1" class="mt-20">
        <li>
          Lorem ipsum dolor sit amet consectetur. Rhoncus hendrerit nisl enim
          risus sed at. Aliquam nulla diam sapien platea est facilisis tortor.
          Amet tellus adipiscing erat blandit elit aliquam diam.
        </li>
        <li>
          Egestas ullamcorper non id adipiscing augue nec aliquet montes. Mi
          placerat ullamcorper donec justo odio. Scelerisque tempus nunc
          fermentum varius ullamcorper. Blandit vel semper hendrerit mattis
          enim. Viverra fermentum nulla lobortis vitae faucibus facilisis.
        </li>
        <li>
          Mi tortor sit eget donec vestibulum mattis porttitor. Enim vestibulum
          ut porta hendrerit. Ac leo consectetur vehicula tincidunt etiam.
          Pretium interdum etiam nascetur arcu et.
        </li>
        <li>
          Suscipit at cras interdum dui velit integer non. Justo pretium neque
          sit eu aliquet pellentesque. Orci in est amet morbi bibendum in urna
          diam tempor. Eget nulla elit hendrerit volutpat aenean et viverra
          ligula purus. Aliquet vitae a tellus purus molestie eu.
        </li>
        <li>
          Lorem ipsum dolor sit amet consectetur. Rhoncus hendrerit nisl enim
          risus sed at. Aliquam nulla diam sapien platea est facilisis tortor.
          Amet tellus adipiscing erat blandit elit aliquam diam.
        </li>
        <li>
          Egestas ullamcorper non id adipiscing augue nec aliquet montes. Mi
          placerat ullamcorper donec justo odio. Scelerisque tempus nunc
          fermentum varius ullamcorper. Blandit vel semper hendrerit mattis
          enim. Viverra fermentum nulla lobortis vitae faucibus facilisis.
        </li>
        <li>
          Mi tortor sit eget donec vestibulum mattis porttitor. Enim vestibulum
          ut porta hendrerit. Ac leo consectetur vehicula tincidunt etiam.
          Pretium interdum etiam nascetur arcu et.
        </li>
      </ol>
    </div>
  </div>
</section>

<div class="d-flex align-items-center mt-40">
  <h3 class="mb-0">4) Sections</h3>
</div>

<section class="ml-20 mt-20">
  <div nz-row>
    <div nz-col><h4>Section 1</h4></div>
    <div nz-col nzOffset="1">
      <div class="grid-title">
        <h4>Display Name</h4>
        <span>:</span>
        <b> Lorem Ipsum </b>
      </div>
      <ol class="mt-10 question-list">
        <li>
          Lorem ipsum dolor sit amet consectetur. Rhoncus hendrerit nisl enim
          risus sed at. Aliquam nulla diam sapien platea est facilisis tortor.
          Amet tellus adipiscing erat blandit elit aliquam diam.
        </li>
        <li>
          Egestas ullamcorper non id adipiscing augue nec aliquet montes. Mi
          placerat ullamcorper donec justo odio. Scelerisque tempus nunc
          fermentum varius ullamcorper. Blandit vel semper hendrerit mattis
          enim. Viverra fermentum nulla lobortis vitae faucibus facilisis.
        </li>
        <li>
          Mi tortor sit eget donec vestibulum mattis porttitor. Enim vestibulum
          ut porta hendrerit. Ac leo consectetur vehicula tincidunt etiam.
          Pretium interdum etiam nascetur arcu et.
        </li>
        <li>
          Suscipit at cras interdum dui velit integer non. Justo pretium neque
          sit eu aliquet pellentesque. Orci in est amet morbi bibendum in urna
          diam tempor. Eget nulla elit hendrerit volutpat aenean et viverra
          ligula purus. Aliquet vitae a tellus purus molestie eu.
        </li>
      </ol>
    </div>
  </div>
  <div nz-row>
    <div nz-col><h4>Section 2</h4></div>
    <div nz-col nzOffset="1">
      <div class="grid-title">
        <h4>Display Name</h4>
        <span>:</span>
        <b> Lorem Ipsum </b>
      </div>
      <ol class="mt-10 question-list">
        <li>
          Lorem ipsum dolor sit amet consectetur. Rhoncus hendrerit nisl enim
          risus sed at. Aliquam nulla diam sapien platea est facilisis tortor.
          Amet tellus adipiscing erat blandit elit aliquam diam.
        </li>
        <li>
          Egestas ullamcorper non id adipiscing augue nec aliquet montes. Mi
          placerat ullamcorper donec justo odio. Scelerisque tempus nunc
          fermentum varius ullamcorper. Blandit vel semper hendrerit mattis
          enim. Viverra fermentum nulla lobortis vitae faucibus facilisis.
        </li>
        <li>
          Mi tortor sit eget donec vestibulum mattis porttitor. Enim vestibulum
          ut porta hendrerit. Ac leo consectetur vehicula tincidunt etiam.
          Pretium interdum etiam nascetur arcu et.
        </li>
        <li>
          Suscipit at cras interdum dui velit integer non. Justo pretium neque
          sit eu aliquet pellentesque. Orci in est amet morbi bibendum in urna
          diam tempor. Eget nulla elit hendrerit volutpat aenean et viverra
          ligula purus. Aliquet vitae a tellus purus molestie eu.
        </li>
      </ol>
    </div>
  </div>
</section>
