<div nz-row nzJustify="space-between" nzAlign="middle" class="sub-header">
  <div nz-col><h1>Agency</h1></div>
  <div nz-col>
    <button nz-button nzType="primary">+ Create CAA</button>
  </div>
</div>
<div class="container">
  <nz-tabset [nzTabBarExtraContent]="extraTemplate" class="filled-header-tab">
    <nz-tab nzTitle="CAA">
      <div class="agency-grid">
        <div class="agency-card-wrap">
          <div>
            <img src="../../../assets/images/company-logo.svg" alt="" />
            <h3>JEE Main <span class="tag green">New Request</span></h3>
            <p>abc@Apex.com</p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Vitae interdum diam dolor
              turpis amet tincidunt
            </p>
            <button
              nz-button
              class="btn-fill-only"
              [routerLink]="['agency-detail']"
            >
              View Details
            </button>
          </div>
        </div>
        <div class="agency-card-wrap">
          <div>
            <img src="../../../assets/images/company-logo.svg" alt="" />
            <h3>JEE Main</h3>
            <p>abc@Apex.com</p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Vitae interdum diam dolor
              turpis amet tincidunt
            </p>
            <button
              nz-button
              class="btn-fill-only"
              [routerLink]="['agency-detail']"
            >
              View Details
            </button>
          </div>
        </div>
        <div class="agency-card-wrap">
          <div>
            <img src="../../../assets/images/company-logo.svg" alt="" />
            <h3>JEE Main</h3>
            <p>abc@Apex.com</p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Vitae interdum diam dolor
              turpis amet tincidunt
            </p>
            <button
              nz-button
              class="btn-fill-only"
              [routerLink]="['agency-detail']"
            >
              View Details
            </button>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="ECA">
      <div class="agency-grid">
        <div class="agency-card-wrap">
          <div>
            <img src="../../../assets/images/company-logo.svg" alt="" />
            <h3>JEE Main <span class="tag green">New Request</span></h3>
            <p>abc@Apex.com</p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Vitae interdum diam dolor
              turpis amet tincidunt
            </p>
            <button
              nz-button
              class="btn-fill-only"
              [routerLink]="['agency-detail']"
            >
              View Details
            </button>
          </div>
        </div>
        <div class="agency-card-wrap">
          <div>
            <img src="../../../assets/images/company-logo.svg" alt="" />
            <h3>JEE Main</h3>
            <p>abc@Apex.com</p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Vitae interdum diam dolor
              turpis amet tincidunt
            </p>
            <button
              nz-button
              class="btn-fill-only"
              [routerLink]="['agency-detail']"
            >
              View Details
            </button>
          </div>
        </div>
        <div class="agency-card-wrap">
          <div>
            <img src="../../../assets/images/company-logo.svg" alt="" />
            <h3>JEE Main</h3>
            <p>abc@Apex.com</p>
            <p>
              Lorem ipsum dolor sit amet consectetur. Vitae interdum diam dolor
              turpis amet tincidunt
            </p>
            <button
              nz-button
              class="btn-fill-only"
              [routerLink]="['agency-detail']"
            >
              View Details
            </button>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>
  <ng-template #extraTemplate>
    <nz-select ngModel="1">
      <nz-option nzValue="1" nzLabel="Active"></nz-option>
      <nz-option nzValue="2" nzLabel="Pending"></nz-option>
    </nz-select>
  </ng-template>
</div>
