<div nz-row nzJustify="start" [nzGutter]="20" class="mt-25 mb-20">
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === ''">
    <div class="dash-color-cards blue">
      <nz-space
        ><img src="../../assets/images/question-created.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Question Created</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 'e1'">
    <div class="dash-color-cards blue">
      <nz-space
        ><img src="../../assets/images/question-created.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Question Reviewed</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 't1'">
    <div class="dash-color-cards blue">
      <nz-space
        ><img src="../../assets/images/question-created.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Question Translated</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 'te1'">
    <div class="dash-color-cards blue">
      <nz-space
        ><img src="../../assets/images/question-created.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Translation Reviewed</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 'v1'">
    <div class="dash-color-cards blue">
      <nz-space
        ><img src="../../assets/images/question-created.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Total Questions</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === ''">
    <div class="dash-color-cards purple">
      <nz-space
        ><img src="../../assets/images/q-submitted.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Question Submitted</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 't1'">
    <div class="dash-color-cards purple">
      <nz-space
        ><img src="../../assets/images/q-submitted.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Question Submitted</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 'te1'">
    <div class="dash-color-cards purple">
      <nz-space
        ><img src="../../assets/images/q-submitted.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Transcription Approved</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div
    nz-col
    nzXs="24"
    nzMd="6"
    *ngIf="userValue === 'v1' || userValue === 'e1'"
  >
    <div class="dash-color-cards purple">
      <nz-space
        ><img src="../../assets/images/q-submitted.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Question Approved</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === ''">
    <div class="dash-color-cards green">
      <nz-space
        ><img src="../../assets/images/revert-ques.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_down.svg" alt="" />
            <span class="text-red">8%</span>
          </nz-space>

          <p>Reverted Question</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 'e1'">
    <div class="dash-color-cards green">
      <nz-space
        ><img src="../../assets/images/revert-ques.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_down.svg" alt="" />
            <span class="text-red">8%</span>
          </nz-space>

          <p>Questions Reverted</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 't1'">
    <div class="dash-color-cards green">
      <nz-space
        ><img src="../../assets/images/revert-ques.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_down.svg" alt="" />
            <span class="text-red">8%</span>
          </nz-space>

          <p>Reverted Question</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 'te1'">
    <div class="dash-color-cards green">
      <nz-space
        ><img src="../../assets/images/revert-ques.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_down.svg" alt="" />
            <span class="text-red">8%</span>
          </nz-space>

          <p>Transcription Reverted</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === 'v1'">
    <div class="dash-color-cards green">
      <nz-space
        ><img src="../../assets/images/revert-ques.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_down.svg" alt="" />
            <span class="text-red">8%</span>
          </nz-space>

          <p>Translated Questions</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div nz-col nzXs="24" nzMd="6" *ngIf="userValue === ''">
    <div class="dash-color-cards orange">
      <nz-space
        ><img src="../../assets/images/rejected-ques.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Rejected Question</p>
        </div>
      </nz-space>
    </div>
  </div>
  <div
    nz-col
    nzXs="24"
    nzMd="6"
    *ngIf="userValue === 'te1' || userValue === 'v1' || userValue === 'e1'"
  >
    <div class="dash-color-cards orange">
      <nz-space
        ><img src="../../assets/images/rejected-ques.svg" />
        <div class="ml-15">
          <nz-space nzAlign="center">
            <h3>2,124</h3>
            <img src="../../assets/images/trending_up.svg" alt="" />
            <span class="text-green">10%</span>
          </nz-space>

          <p>Rejected Question</p>
        </div>
      </nz-space>
    </div>
  </div>
</div>
