.custom-filelist {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #0a8fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.14px;
  }
}
