<div class="summary-card-type-3 mt-20">
  <h3>Source</h3>
  <div class="summary-body">
    <div class="d-flex align-items-center justify-content-between">
      <div>
        <h6>Apex Finance</h6>
        <a routerLink="">Lorem Ipsum</a>
      </div>
    </div>
    <section *ngIf="visible">
      <hr class="mb-15" />
      <div nz-row nzAlign="middle">
        <div nz-col nzSpan="12">
          <p>Point of contact: <b>John Doe</b></p>
        </div>
        <div nz-col nzSpan="12">
          <p>Point of contact: <b>John Doe</b></p>
        </div>
        <div nz-col nzSpan="12">
          <p>Email: <b>John.Doe@gmail.com</b></p>
        </div>
        <div nz-col nzSpan="12">
          <p>Email: <b>John.Doe@gmail.com</b></p>
        </div>
        <div nz-col nzSpan="12">
          <p>Location: <b>New York, USA</b></p>
        </div>
        <div nz-col nzSpan="12">
          <p>Location: <b>New York, USA</b></p>
        </div>
      </div>
      <hr />
      <ul class="agency-list">
        <li>Agency 1</li>
        <li>Agency 2</li>
        <li>Agency 3</li>
        <li>Agency 4</li>
        <li>Agency 5</li>
        <li>Agency 6</li>
        <li>Agency 7</li>
        <li>Agency 8</li>
        <li>Agency 9</li>
        <li>Agency 10</li>
      </ul>
    </section>
  </div>
  <div
    class="summary-footer"
    [ngClass]="{ clicked: visible }"
    (click)="divOpen()"
  >
    <img src="../../../../../assets/images/arrow-down.svg" alt="" srcset="" />
  </div>
</div>
