<div nz-row class="account-grid">
  <div class="grid-1 box-styling">
    <nz-steps
      [nzCurrent]="current"
      class="steps-vertical-view"
      nzDirection="vertical"
      (nzIndexChange)="onIndexChange($event)"
    >
      <nz-step nzTitle="Basic Details" class="basic-details-icon"></nz-step>
      <nz-step nzTitle="Admin Details" class="admin-details-icon"></nz-step>
      <nz-step nzTitle="Address Details" class="address-details-icon"></nz-step>
      <nz-step nzTitle="Documents" class="documents-icon"></nz-step>
    </nz-steps>
  </div>
  <div class="grid-2 box-styling">
    <div class="auth-title">
      <div *ngIf="index === 'First-content'">
        <h3>Basic Details</h3>
        <div class="steps-action">
          <app-basic-detail></app-basic-detail>
          <button
            nz-button
            nzType="primary"
            (click)="next()"
            nzSize="small"
            class="mt-40"
          >
            Save & Next
          </button>
        </div>
      </div>
      <div *ngIf="index === 'Second-content'">
        <h3>Admin Details</h3>
        <div class="steps-action">
          <app-admin-details></app-admin-details>
          <button
            nz-button
            nzType="primary"
            (click)="next()"
            nzSize="small"
            class="mt-40"
          >
            Save & Next
          </button>
        </div>
      </div>
      <div *ngIf="index === 'Third-content'">
        <h3>Address Details</h3>
        <div class="steps-action">
          <app-address-details></app-address-details>
          <button
            nz-button
            nzType="primary"
            (click)="next()"
            nzSize="small"
            class="mt-40"
          >
            Save & Next
          </button>
        </div>
      </div>
      <div *ngIf="index === 'Forth-content'">
        <h3>Documents</h3>
        <div class="steps-action">
          <app-documents></app-documents>
          <button
            nz-button
            nzType="primary"
            nzSize="small"
            class="mt-40"
            (click)="goTODashboard()"
          >
            Save & Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
