<div class="summary-card-type-3 mt-20">
  <h3>Audit Log</h3>
  <div class="summary-body">
    <div class="audit-timeline">
      <div>
        <h4>Approved On</h4>
        <p>24/10/2022, 10:15 PM</p>

        <h6>
          <img src="../../../assets/images/aadharIcon.svg" alt="" /> Aadhar used
          for E-sign approval.
        </h6>
      </div>
      <div>
        <h4>Waiting for approval</h4>
        <p>30/10/2022, 10:15 PM</p>
        <h6>
          <img src="../../../assets/images/aadharIcon.svg" alt="" /> Aadhar used
          for E-sign approval.
        </h6>
      </div>
      <div>
        <h4>Revised</h4>
        <p>05/11/2022, 10:15 PM</p>
      </div>
      <div>
        <h4>Approved</h4>
        <p>08/11/2022, 10:15 PM</p>
      </div>
    </div>
  </div>
</div>
