<nz-tabset class="translator-tab">
  <nz-tab nzTitle="अ Hindi">
    <div class="translator-grid">
      <div class="p-15 border-right">
        <h3 class="question-title"><span>1</span>Question</h3>
        <div class="pl-32">
          <p>
            Select the cube that can be formed by folding the given sheet along
            the lines.
          </p>
          <img src="../../../assets/images/q1.png" width="100%" /><br /><br />
          <p>
            Select the cube that can be formed by folding the given sheet along
            the lines.
          </p>
        </div>
      </div>
      <div class="inline-editor">
        <app-annotation [preventContextMenu]="isPreventContextMenu()"
          ><app-text-editor
            [defaultHtmlContent]="defaultHtmlContent"
          ></app-text-editor
        ></app-annotation>
      </div>
    </div>
    <div class="translator-grid mt-15">
      <div class="p-15 border-right">
        <h3 class="question-title"><span>2</span>Answer</h3>
        <div class="pl-32">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-radio-group [(ngModel)]="radioValue" class="answer-text-list">
                <div nz-row [nzGutter]="20">
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="A">A</label>
                      <img src="../../../assets/images/a1.png" alt="" />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="B">B</label>
                      <img src="../../../assets/images/a2.png" alt="" />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="C">C</label>
                      <img src="../../../assets/images/a3.png" alt="" />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="D">D</label>
                      <img src="../../../assets/images/a3.png" alt="" />
                    </div>
                  </div>
                </div>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-15">
          <h3 class="question-title">Translated Answer</h3>

          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-radio-group [(ngModel)]="radioValue" class="answer-text-list">
                <div nz-row [nzGutter]="20">
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="A">A</label>
                      <img src="../../../assets/images/a1.png" alt="" />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="B">B</label>
                      <img src="../../../assets/images/a2.png" alt="" />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="C">C</label>
                      <img src="../../../assets/images/a3.png" alt="" />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="12">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="D">D</label>
                      <img src="../../../assets/images/a3.png" alt="" />
                    </div>
                  </div>
                </div>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
  <nz-tab nzTitle="ਉ Punjabi">
    <div class="translator-grid">
      <div class="p-15 border-right">
        <h3 class="question-title"><span>1</span>Question</h3>
        <div class="pl-32">
          <p>
            Select the cube that can be formed by folding the given sheet along
            the lines.
          </p>
          <img src="../../../assets/images/q1.png" width="100%" /><br /><br />
          <p>
            Select the cube that can be formed by folding the given sheet along
            the lines.
          </p>
        </div>
      </div>
      <div class="inline-editor">
        <app-annotation [preventContextMenu]="isPreventContextMenu()"
          ><app-text-editor
            [defaultHtmlContent]="punjabiContent"
          ></app-text-editor
        ></app-annotation>
      </div>
    </div>
    <div class="translator-grid mt-15">
      <div class="p-15 border-right">
        <h3 class="question-title"><span>2</span>Answer</h3>
        <div class="pl-32">
          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-radio-group [(ngModel)]="radioValue" class="answer-text-list">
                <div nz-row [nzGutter]="20">
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="A">A</label>
                      <input
                        nz-input
                        placeholder="Enter some text here"
                        type="text"
                        [(ngModel)]="answer1"
                        readonly
                      />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="B">B</label>
                      <input
                        nz-input
                        placeholder="Enter some text here"
                        type="text"
                        [(ngModel)]="answer1"
                        readonly
                      />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="C">C</label>
                      <input
                        nz-input
                        placeholder="Enter some text here"
                        type="text"
                        [(ngModel)]="answer1"
                        readonly
                      />
                    </div>
                  </div>
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="D">D</label>
                      <input
                        nz-input
                        placeholder="Enter some text here"
                        type="text"
                        [(ngModel)]="answer1"
                        readonly
                      />
                    </div>
                  </div>
                </div>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="p-15">
          <h3 class="question-title">Translated Answer</h3>

          <div nz-row>
            <div nz-col nzSpan="24">
              <nz-radio-group [(ngModel)]="radioValue" class="answer-text-list">
                <div nz-row [nzGutter]="20">
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="A">A</label>
                      <quill-editor
                        [placeholder]="answer1"
                        [(ngModel)]="answer1Punjabi"
                        [modules]="editorConfig"
                        [theme]="'bubble'"
                        class="quill-editor flush-editor"
                      ></quill-editor>
                    </div>
                  </div>
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="B">B</label>
                      <quill-editor
                        [placeholder]="answer1"
                        [(ngModel)]="answer1Punjabi"
                        [modules]="editorConfig"
                        [theme]="'bubble'"
                        class="quill-editor flush-editor"
                      ></quill-editor>
                    </div>
                  </div>
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="C">C</label>
                      <quill-editor
                        [placeholder]="answer1"
                        [(ngModel)]="answer1Punjabi"
                        [modules]="editorConfig"
                        [theme]="'bubble'"
                        class="quill-editor flush-editor"
                      ></quill-editor>
                    </div>
                  </div>
                  <div nz-col [nzSpan]="24">
                    <div class="answer-text-list-item">
                      <label nz-radio nzValue="D">D</label>
                      <quill-editor
                        [placeholder]="answer1"
                        [(ngModel)]="answer1Punjabi"
                        [modules]="editorConfig"
                        [theme]="'bubble'"
                        class="quill-editor flush-editor"
                      ></quill-editor>
                    </div>
                  </div>
                </div>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-tab>
</nz-tabset>
