.grade-select {
  min-width: 100% !important;
}
.level-select {
  min-width: 100% !important;
}
.minus-icon {
  opacity: 0.8;
  margin-top: 5px;
  background: #eceff2;
  width: 20px;
  height: 20px;
  margin-left: 2px;
  text-align: center;
}
