<div nz-row [nzGutter]="20">
  <div nz-col nzSpan="12">
    <label class="label">Grading Type</label>
    <nz-select nzSize="large" class="w-100" ngModel="1">
      <nz-option nzValue="1" nzLabel="Standard"></nz-option>
      <nz-option nzValue="2" nzLabel="Standard"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="12">
    <label class="label">Duplicacy Index</label>

    <nz-select nzSize="large" class="w-100" ngModel="1">
      <nz-option nzValue="1" nzLabel="Low"></nz-option>
      <nz-option nzValue="2" nzLabel="High"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="12">
    <label class="label mt-20">Visibility Index</label>

    <nz-select nzSize="large" class="w-100" ngModel="1">
      <nz-option nzValue="1" nzLabel="Standard"></nz-option>
      <nz-option nzValue="2" nzLabel="High"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="12">
    <label class="label mt-20">Display Preference</label>

    <nz-select nzSize="large" class="w-100" ngModel="1">
      <nz-option nzValue="1" nzLabel="One Question Per Page"></nz-option>
      <nz-option nzValue="2" nzLabel="Two Question Per Page"></nz-option>
    </nz-select>
  </div>
</div>
