<div nz-row [nzGutter]="20">
  <div nz-col nzSpan="12">
    <label class="label">Section from Question Bank</label>
    <nz-select nzSize="large" class="w-100" ngModel="1">
      <nz-option nzValue="1" nzLabel="Low"></nz-option>
      <nz-option nzValue="2" nzLabel="Standard"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="12">
    <label class="label">Lorem Ipsum</label>

    <nz-select nzSize="large" class="w-100" ngModel="1">
      <nz-option nzValue="1" nzLabel="Standard"></nz-option>
      <nz-option nzValue="2" nzLabel="High"></nz-option>
    </nz-select>
  </div>
</div>
